In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("archive/parques_state.csv", index_col=0)
df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Park Code,State,Acres,Latitude,Longitude
4146,BIBE-1000,Big Bend National Park,Mammal,Artiodactyla,Antilocapridae,Antilocapra americana,Pronghorn,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4147,BIBE-1001,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ammotragus lervia,Barbary Sheep Or Aoudad,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4148,BIBE-1002,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Bison bison,American Bison,Approved,Not Present (Historical Report),Native,NaN,NaN,NaN,BIBE,TX,801163,29.25,-103.25
4149,BIBE-1003,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ovis canadensis,Bighorn Sheep,Approved,Present,Native,Rare,Resident,Species of Concern,BIBE,TX,801163,29.25,-103.25
4150,BIBE-1004,Big Bend National Park,Mammal,Artiodactyla,Cervidae,Cervus canadensis,Elk,Approved,Present,Not Native,Rare,Resident,NaN,BIBE,TX,801163,29.25,-103.25

In [4]:
len(df["Park Name"].unique())

13

In [5]:
df["Park Name"].unique()

array(['Big Bend National Park', 'Denali National Park and Preserve',
       'Everglades National Park',
       'Gates Of The Arctic National Park and Preserve',
       'Glacier National Park', 'Glacier Bay National Park and Preserve',
       'Grand Canyon National Park', 'Katmai National Park and Preserve',
       'Kobuk Valley National Park',
       'Lake Clark National Park and Preserve', 'Olympic National Park',
       'Sequoia and Kings Canyon National Parks',
       'Wrangell - St Elias National Park and Preserve'], dtype=object)

In [6]:
df.shape

(24157, 18)

In [7]:
df.State.unique()

array(['TX', 'AK', 'FL', 'MT', 'AZ', 'WA', 'CA'], dtype=object)

In [8]:
df[(df["Park Name"] == "Yellowstone National Park") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [9]:
df[(df["Park Name"] == "Yellowstone National Park") &(df["State"] == "WY, MT, ID") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [10]:
df[(df["Park Name"] == "Yellowstone National Park") & (df["State"] == "WY") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [11]:
df[(df["Park Name"] == "Yellowstone National Park") & (df["State"] == "MT") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [12]:
df[(df["Park Name"] == "Yellowstone National Park") & (df["State"] == "ID") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [13]:
df["State"] = df["State"].apply(lambda x:x.lstrip())
df

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Park Code,State,Acres,Latitude,Longitude
4146,BIBE-1000,Big Bend National Park,Mammal,Artiodactyla,Antilocapridae,Antilocapra americana,Pronghorn,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4147,BIBE-1001,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ammotragus lervia,Barbary Sheep Or Aoudad,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4148,BIBE-1002,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Bison bison,American Bison,Approved,Not Present (Historical Report),Native,NaN,NaN,NaN,BIBE,TX,801163,29.25,-103.25
4149,BIBE-1003,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ovis canadensis,Bighorn Sheep,Approved,Present,Native,Rare,Resident,Species of Concern,BIBE,TX,801163,29.25,-103.25
4150,BIBE-1004,Big Bend National Park,Mammal,Artiodactyla,Cervidae,Cervus canadensis,Elk,Approved,Present,Not Native,Rare,Resident,NaN,BIBE,TX,801163,29.25,-103.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111393,WRST-2791,Wrangell - St Elias National Park and Preserve,Insect,Lepidoptera,Tortricidae,Tortricidae,"Leaf Rollers, Leaf Tyers",Approved,Present,Native,Unknown,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111394,WRST-2792,Wrangell - St Elias National Park and Preserve,Invertebrate,Enchytraeida,Enchytraeidae,Mesenchytraeus solifugus,Ice Worm,Approved,Present,Native,Unknown,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111395,WRST-2793,Wrangell - St Elias National Park and Preserve,Invertebrate,Enterogona,Ascidiidae,Ascidia callosa,None,Approved,Not Confirmed,Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111396,WRST-2794,Wrangell - St Elias National Park and Preserve,Invertebrate,Pleurogona,Styelidae,Botrylloides violaceus,Golden Chain Tunicate,Approved,Not Present,Not Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111397,WRST-2795,Wrangell - St Elias National Park and Preserve,Invertebrate,Pleurogona,Styelidae,Styela truncata,None,Approved,Not Confirmed,Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00

In [14]:
df_yellow = df[(df["Park Name"] == "Yellowstone National Park") ]
df_yellow

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [15]:
df_yellow.State.unique()

array([], dtype=object)

In [16]:
df[df["Park Name"] == "Death Valley National Park"]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [17]:
df[(df["Park Name"] == "Death Valley National Park") & (df["State"] == "NV") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [18]:
df[(df["Park Name"] == "Death Valley National Park") & (df["State"] == "CA") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [19]:
indices = df[((df["Park Name"] == "Yellowstone National Park") & (df["State"] == "WY, MT, ID")) |((df["Park Name"] == "Death Valley National Park") & (df["State"] == "CA, NV")) ].index

In [20]:
indices

Int64Index([], dtype='int64')

In [21]:
df.drop(index= list(indices), axis=0, inplace = True)

In [22]:
df

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Park Code,State,Acres,Latitude,Longitude
4146,BIBE-1000,Big Bend National Park,Mammal,Artiodactyla,Antilocapridae,Antilocapra americana,Pronghorn,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4147,BIBE-1001,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ammotragus lervia,Barbary Sheep Or Aoudad,Approved,Present,Native,Unknown,Resident,NaN,BIBE,TX,801163,29.25,-103.25
4148,BIBE-1002,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Bison bison,American Bison,Approved,Not Present (Historical Report),Native,NaN,NaN,NaN,BIBE,TX,801163,29.25,-103.25
4149,BIBE-1003,Big Bend National Park,Mammal,Artiodactyla,Bovidae,Ovis canadensis,Bighorn Sheep,Approved,Present,Native,Rare,Resident,Species of Concern,BIBE,TX,801163,29.25,-103.25
4150,BIBE-1004,Big Bend National Park,Mammal,Artiodactyla,Cervidae,Cervus canadensis,Elk,Approved,Present,Not Native,Rare,Resident,NaN,BIBE,TX,801163,29.25,-103.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111393,WRST-2791,Wrangell - St Elias National Park and Preserve,Insect,Lepidoptera,Tortricidae,Tortricidae,"Leaf Rollers, Leaf Tyers",Approved,Present,Native,Unknown,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111394,WRST-2792,Wrangell - St Elias National Park and Preserve,Invertebrate,Enchytraeida,Enchytraeidae,Mesenchytraeus solifugus,Ice Worm,Approved,Present,Native,Unknown,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111395,WRST-2793,Wrangell - St Elias National Park and Preserve,Invertebrate,Enterogona,Ascidiidae,Ascidia callosa,None,Approved,Not Confirmed,Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111396,WRST-2794,Wrangell - St Elias National Park and Preserve,Invertebrate,Pleurogona,Styelidae,Botrylloides violaceus,Golden Chain Tunicate,Approved,Not Present,Not Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00
111397,WRST-2795,Wrangell - St Elias National Park and Preserve,Invertebrate,Pleurogona,Styelidae,Styela truncata,None,Approved,Not Confirmed,Native,NaN,NaN,NaN,WRST,AK,8323148,61.00,-142.00

In [23]:
df[(df["Park Name"] == "Yellowstone National Park") &(df["State"] == "WY, MT, ID") ]

Empty DataFrame
Columns: [Species ID, Park Name, Category, Order, Family, Scientific Name, Common Names, Record Status, Occurrence, Nativeness, Abundance, Seasonality, Conservation Status, Park Code, State, Acres, Latitude, Longitude]
Index: []

In [24]:
df.State.unique()

array(['TX', 'AK', 'FL', 'MT', 'AZ', 'WA', 'CA'], dtype=object)

In [25]:
df.to_csv("archive/parques_state.csv")