In [33]:
! pip install pygbif

Collecting pygbif
  Downloading pygbif-0.6.1-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 17 kB/s  eta 0:00:01
Collecting geomet
  Downloading geomet-0.3.0-py3-none-any.whl (28 kB)
Collecting geojson-rewind
  Downloading geojson_rewind-1.0.3-py3-none-any.whl (5.0 kB)
Requirement already satisfied: requests>2.7 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from pygbif) (2.26.0)
Collecting requests-cache
  Downloading requests_cache-0.9.6-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 326 kB/s eta 0:00:01:01
Requirement already satisfied: appdirs>=1.4.3 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from pygbif) (1.4.4)
Requirement already satisfied: matplotlib in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from pygbif) (3.5.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from requests>2.7->pygbif) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from requests>2.7->pygbif) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from requests>2.7->pygbif) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from requests>2.7->pygbif) (2021.10.8)
Requirement already satisfied: click in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from geomet->pygbif) (8.0.3)
Requirement already satisfied: six in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from geomet->pygbif) (1.16.0)
Requirement already satisfied: pillow>=6.2.0 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (8.4.0)
Requirement already satisfied: setuptools-scm>=4 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (7.0.5)
Requirement already satisfied: packaging>=20.0 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (21.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (0.10.0)
Requirement already satisfied: numpy>=1.17 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (1.20.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from matplotlib->pygbif) (4.25.0)
Requirement already satisfied: setuptools in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib->pygbif) (58.0.4)
Requirement already satisfied: tomli>=1.0.0 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib->pygbif) (2.0.1)
Requirement already satisfied: typing-extensions in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib->pygbif) (3.10.0.2)
Collecting cattrs>=1.8
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Requirement already satisfied: attrs>=21.2 in /home/chloeiris/anaconda3/lib/python3.9/site-packages (from requests-cache->pygbif) (21.2.0)
Collecting url-normalize>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting exceptiongroup
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Installing collected packages: exceptiongroup, url-normalize, cattrs, requests-cache, geomet, geojson-rewind, pygbif
Successfully installed cattrs-22.2.0 exceptiongroup-1.0.0rc9 geojson-rewind-1.0.3 geomet-0.3.0 pygbif-0.6.1 requests-cache-0.9.6 url-normalize-1.4.3

In [11]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = None

In [2]:
df1 = pd.read_csv('archive/parks.csv')
df1.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [4]:
df1.isnull().sum()

Park Code    0
Park Name    0
State        0
Acres        0
Latitude     0
Longitude    0
dtype: int64

In [5]:
df1.shape

(56, 6)

In [3]:
df2 = pd.read_csv('archive/species.csv')
df2.head()

/tmp/ipykernel_741/2082570300.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('archive/species.csv')

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN

In [6]:
df2.isnull().sum()

Species ID                  0
Park Name                   0
Category                    0
Order                    1472
Family                   1512
Scientific Name             0
Common Names                0
Record Status               0
Occurrence              20142
Nativeness              25045
Abundance               42942
Seasonality             99091
Conservation Status    114530
Unnamed: 13            119243
dtype: int64

In [7]:
df2.shape

(119248, 14)

In [8]:
df2.Category.unique()

array(['Mammal', 'Bird', 'Reptile', 'Amphibian', 'Fish', 'Vascular Plant',
       'Spider/Scorpion', 'Insect', 'Invertebrate', 'Fungi',
       'Nonvascular Plant', 'Crab/Lobster/Shrimp', 'Slug/Snail', 'Algae'],
      dtype=object)

In [15]:
cnidarios = df2[df2['Category']== 'Invertebrate']

In [18]:
cnidarios.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
3972,BADL-2215,Badlands National Park,Invertebrate,Stauromedusae,Lipkeidae,Capria,Feral Goats,In Review,Present,NaN,NaN,NaN,NaN,NaN
8107,BISC-2692,Biscayne National Park,Invertebrate,NaN,NaN,Madracis auretenra,Ten-Ray Star Coral,Approved,Present,Native,Rare,NaN,NaN,NaN
8108,BISC-2693,Biscayne National Park,Invertebrate,NaN,NaN,Pseudodiploria clivosa,Knobby Brain Coral,Approved,Present,Native,Occasional,NaN,NaN,NaN
8109,BISC-2694,Biscayne National Park,Invertebrate,NaN,NaN,Pseudodiploria strigosa,Symmetrical Brain Coral,Approved,Present,Native,Uncommon,NaN,NaN,NaN
8110,BISC-2695,Biscayne National Park,Invertebrate,NaN,NaN,Undaria agaricites,Lettuce Coral,Approved,Present,Native,Common,NaN,NaN,NaN

In [ ]:
import pygbif

In [17]:
cnidarios.shape

(1566, 14)

In [27]:
df2.drop('Unnamed: 13', axis=1, inplace=True)

In [28]:
df2['Occurrence'].value_counts()

Present                            83278
Not Confirmed                      11958
Not Present (False Report)          2072
Not Present (Historical Report)     1310
Not Present                          431
Approved                              51
In Review                              6
Name: Occurrence, dtype: int64

In [29]:
df2['Nativeness'].value_counts()

Native           75950
Not Native       11095
Unknown           7101
Present             53
Not Confirmed        4
Name: Nativeness, dtype: int64

In [30]:
df2['Abundance'].value_counts()

Unknown       28119
Uncommon      18779
Common        12913
Rare          10768
Occasional     3312
Abundant       2365
Native           40
Not Native       10
Name: Abundance, dtype: int64

In [31]:
df2['Seasonality'].value_counts()

Breeder                                 12214
Resident                                 3215
Migratory                                2825
Vagrant                                  1660
Breeder, Winter                            64
Rare                                       35
Summer                                     26
Migratory, Winter                          24
Winter                                     20
Breeder, Resident                          20
Breeder, Migratory                         13
Resident, Winter                            9
Uncommon                                    5
Common                                      4
Migratory, Vagrant                          4
Summer, Vagrant                             3
Breeder, Resident, Summer                   3
Migratory, Summer                           3
Unknown                                     3
Resident, Summer                            2
Breeder, Summer                             2
Breeder, Resident, Migratory, Summer        1
Breeder, Resident, Summer, Winter           1
Winter, Vagrant                             1
Name: Seasonality, dtype: int64

In [32]:
df2['Conservation Status'].value_counts()

Species of Concern     3843
Endangered              374
Under Review            194
Threatened              184
In Recovery              77
Proposed Endangered      24
Proposed Threatened       7
Breeder                   7
Resident                  5
Migratory                 2
Extinct                   1
Name: Conservation Status, dtype: int64

In [ ]:
df2[]